.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4vw;
}

.headerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec .linksWrapper {
  display: flex;
  column-gap: 24px;
  align-items: center;
  justify-content: center;
}

.sec .linksWrapper a:last-child {
  margin-bottom: 0;
}

.linksWrapper a {
  margin-bottom: 12px;
  color: #0845bd;
  text-decoration: none;
  background-color: transparent;
}

.sec a {
  margin-bottom: 12px;
  color: #0845bd;
  text-decoration: none;
  background-color: transparent;
}

.contacts a {
  color: #0845bd;
  background-color: transparent;
}