.title {
  text-align: center;
}

.wrapper {
  padding: 0 5vw;
}

.wrapper a {
  color: #0845bd;
  text-decoration: none;
  background-color: transparent;
}

.form {
  display: grid;
  row-gap: 30px;
}

.form div {
  display: grid;
}

.form input, textarea {
  width: 100%;
  padding: 10px;
  border: solid 1px #dddddd;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  border-radius: 0;
}

.form button {
  justify-self: start;
  padding: 15px 30px;
  border: solid 1px currentColor;
  font-family: inherit;
  font-size: 16px;
  background-color: blue;
  color: #ffffff;
  cursor: pointer;
}

.form button:disabled {
  background-color: #ccc;
  cursor: auto;
}

.form .check {
  display: flex;
  justify-content: center;
}

.form .check input {
  width: auto;
}

.form .control {
  display: flex;
  justify-content: center;
}