.myprofile {
  align-items: flex-end;
  display: flex;
  margin: 0 auto;
  min-height: 200px;
  position: relative;
}

.image {
  height: 52vh;
  width: 100%;
}

.details {
  color: #ffffff;
  max-width: 40rem;
  width: 85%;
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, 0);
  text-align: center;
}

.title {
  letter-spacing: -0.012em;
  font-size: var(--text-title);
  font-weight: var(--extrabold);
  line-height: var(--solid);
  margin: 0 0 var(--space-xl);
}

.description {
  margin-bottom: 32px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-bottom: 22px;
}

.sns {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .image {
    height: 46.4vh;
  }
}

@media (min-width: 768px) {
  .details {
    max-width: 44rem;
  }
}

@media (min-width: 1024px) {
  .image {
    margin-left: auto;
  }
}